.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://i.pinimg.com/originals/3e/11/56/3e1156d0a3eb1b6e9ee5820bc47d74d4.jpg');
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.title {
  font-size: 38px;
  margin-bottom: 50px;
  color: aliceblue;
}

.subtitle {
  font-size: 24px;
  color: aliceblue;
}

.info {
  font-size: 18px;
  margin-bottom: 20px;
  color: aliceblue;
}

.info-0 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  margin-top: 80px;
  background: none;
  color: aliceblue;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 80px;
  font-size: 30px;
}

.btn:hover {
  background-color: aliceblue;
  color: black;
  transition: all 0.5s;
}

.load {
  font-size: 30px;
  color: aliceblue;
}
