body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://i.pinimg.com/originals/3e/11/56/3e1156d0a3eb1b6e9ee5820bc47d74d4.jpg');
}

.container {
  max-width: 1440px;
  margin: 10px auto;
  padding: 0 20px;
  text-align: center;
}

.title {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 30px;
  color: orange;
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
  color: orange;
}

.load {
  font-size: 30px;
  color: aliceblue;
}

@media (max-width: 720px) {
  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 16px;
  }
}
