body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://i.pinimg.com/originals/3e/11/56/3e1156d0a3eb1b6e9ee5820bc47d74d4.jpg') center/cover no-repeat;
}

.container {
  max-width: 1440px;
  margin: 10px auto;
  padding: 0 20px;
  text-align: center;
}

.title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
  color: orange;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  color: orange;
}

.load {
  font-size: 30px;
  color: orange;
}

@media (max-width: 500px) {
  .title {
    font-size: 24px;
  }
}
