.icon {
  width: 100px;
  margin-top: 50px;
  animation: rotate 2s linear infinite;
}

.load {
  font-size: 30px;
  color: orange;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
